
body {
    margin: 0px;
    font-family: Helvetica;
}

#topo {
    background: url(../img/bg-topo.png) repeat-x #b9c0c0;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 67px;
    height: auto;
}

#center {
	background: url(../img/bg-center.png) repeat-x ;
}

#inf {
   	background: url(../img/bg-inf.png) repeat-x  #b9c0c0;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 56px;
    height: auto;
}

#site {
    width: auto;
}

#h2 {
    margin: 0px 0px 0px 0px;
    width: auto;
    min-height: 39px;
    height: auto;
}
